API_URL=https://api.antmcn.net
API_UPLOAD=https://api.antmcn.net
WEBSITE_URL=https://ant-group.net
EMAIL=contact1@ant-group.net
SUPPORT='+84 913060886'
APP_NAME='ANT MCN | Together We Will Succeed'
SLOGAN='Together We Will Succeed'
APP_SHORT_NAME='ANT MCN'
APP_IMAGE='/antgroup.png'
APP_DESCRIPTION="Explore a world of possibilities with our diverse range of services at Home Website. From the symphonies of Ant Music to the language mastery of Ant Edu, the social landscapes of Ant Media, and the workforce transformation offered by Ant HRMS – we are your gateway to innovation, creativity, and excellence. Join us on a journey where every service is a testament to our commitment to empowering individuals and businesses alike. Discover more now!"
APP_KEYWORDS='ant group, ant edu, ant music, ant media, ant hrms, ant vinh'
ANT_GROUP_WEBSITE=https://ant-group.net
SECRET_KEY=""
PRIMARY_COLOR=#1E79E4
BACKGROUND_COLOR=#eef6fd
TEXT_COLOR="#3f4254"
CLIENT="ant-task"
REDIRECT_URI="http://localhost:3000"
# REDIRECT_URI="https://antmcn.net"
LOGIN_URL="https://auth.ant-group.net"
CMS_API="https://api-account.ant-group.net"
CMS_URL="https://account.ant-group.net"
