@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --card-bg: #f2f2f2;
    --card-bg-hover: #e5e5e5;
    --card-bg-dark: #2a2a2a;
    --card-bg-hover-dark: #3a3a3a;
    --text-primary: #252525;
    --text-secondary: #666666;
    --bg-primary: #ffffff;
    --bg-secondary: #f0f2f5;

    --bg-dark: #141414;
}

/* [data-theme='dark'] {
    --card-bg: #2a2a2a;
    --card-bg-hover: #3a3a3a;
} */

body {
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.ant-timeline-item-last {
    padding-bottom: 0 !important;
}

.logo-font {
    font-family: var(--font-boston);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Thanh cuộn nhỏ hơn */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Nền trong suốt */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(
        155,
        155,
        155,
        0.5
    ); /* Màu xám nhạt với độ trong suốt */
    border-radius: 10px; /* Bo tròn các cạnh */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(125, 125, 125, 0.7); /* Tối hơn khi hover */
}

/* Tùy chỉnh cho Firefox */
.custom-scrollbar {
    scrollbar-width: thin; /* "thin", "auto", hoặc "none" */
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent; /* thumb color track color */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Ẩn scrollbar cho IE, Edge và Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none; /* IE và Edge */
    scrollbar-width: none; /* Firefox */
}

.ant-table-body {
    overflow-y: overlay !important;
}

/* overlay chỉ hiển thị thanh cuộn khi thực sự cần cuộn */
@supports not (overflow-y: overlay) {
    /* Cho trình duyệt không hỗ trợ overlay */
    .ant-table-body {
        overflow-y: auto !important;
    }
    .ant-table-body::-webkit-scrollbar {
        width: 8px;
    }
    .ant-table-body::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
    }
}

/* Hiệu ứng slide down */
.slide-down-enter {
    transform: translateY(-100%);
    opacity: 0;
}
.slide-down-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition:
        transform 300ms,
        opacity 300ms;
}
.slide-down-exit {
    transform: translateY(0);
    opacity: 1;
}
.slide-down-exit-active {
    transform: translateY(-100%);
    opacity: 0;
    transition:
        transform 300ms,
        opacity 300ms;
}

.ant-table-pagination.management .ant-pagination-total-text {
    flex: 1 !important;
}

.ant-table-pagination.mr-4 {
    margin-right: 16px !important;
}
